<launch>
    <rosparam file="$(find operational_space_controllers)/pr2_arms_force_controller.yaml" command="load" output="screen"/>
    <node pkg="pr2_controller_manager" type="unspawner" args="l_arm_controller"  name="l_arm_stopper" output="screen"/>
    <node pkg="pr2_controller_manager" type="spawner" args="l_arm_force_controller" name="l_arm_force_controller_spawner" output="screen"/>
</launch>
